$mobile:  40em;
$tablet:  64em;
$desktop: 120em;


@mixin mobile {
  @media all and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: #{$tablet + .063em}) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: #{$tablet + .063em}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$desktop + .063em}) {
    @content;
  }
}