@import './variables/typography';
@import './variables/mixins';

:root {
    --primary-color: #E50914;
    --secondary-color: #FFFADD;
    --dark-color: #22668D;
    --light-color: #8ECDDD;
    --text-color: #EEEEEE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Thin', sans-serif;
}
  
  